name: Build Carafe (Manual)
permissions:
  contents: write

on: [workflow_dispatch]

jobs:
  build:
    runs-on: macos-15

    steps:
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
        with:
          go-version: ${{ vars.GO_VERSION }}

      - name: Checkout carafe repo
        uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3.4.0
        with:
          fetch-depth: 0

      - name: Read version from VERSION file
        run: |
          VERSION=$(cat VERSION)
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Install Apple Xcode certificates
        uses: apple-actions/import-codesign-certs@8f3fb608891dd2244cdab3d69cd68c0d37a7fe93 # v2.0.0
        with:
          keychain-password: ${{ github.run_id }}
          p12-file-base64: ${{ secrets.APP_CERTIFICATES_P12_MAOS }}
          p12-password: ${{ secrets.APP_CERTIFICATES_P12_PASSWORD_MAOS }}

      - name: Install Apple Installer certificates
        uses: apple-actions/import-codesign-certs@8f3fb608891dd2244cdab3d69cd68c0d37a7fe93 # v2.0.0
        with:
          create-keychain: false # do not create a new keychain for this value
          keychain-password: ${{ github.run_id }}
          p12-file-base64: ${{ secrets.PKG_CERTIFICATES_P12_MAOS }}
          p12-password: ${{ secrets.PKG_CERTIFICATES_P12_PASSWORD_MAOS }}

      - name: Build package
        run: ./tools/build_pkg.zsh ${{ env.VERSION }} ${{ secrets.NOTARY_APP_PASSWORD_MAOS }}

      - name: Generate changelog
        id: changelog
        uses: mikepenz/release-changelog-builder-action@c9dc8369bccbc41e0ac887f8fd674f5925d315f7 # v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetchViaCommits: true
          configurationJson: |
            {
              "categories": [],
              "template": "#{{UNCATEGORIZED}}"
            }

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844 # v0.1.15
        with:
          name: v${{env.VERSION}}
          tag_name: v${{env.VERSION}}
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
          body: |
            # What's Changed
            ${{ steps.changelog.outputs.changelog }}
          files: ${{github.workspace}}/output/*.pkg

      - name: Upload packages
        uses: actions/upload-artifact@0b2256b8c012f0828dc542b3febcab082c67f72b # v4.3.4
        with:
          name: packages
          path: output/
