name: Run tests
permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up golang
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
        with:
          go-version: ${{ vars.GO_VERSION }}
      - name: Run tests
        run: go test ./... -v
